<div id='container'>
    <%- include('../nav.ejs') %>
    <%- include('../title.ejs') %>
    <form action="/add_date" method='post'>
        <input type="submit" value="add DATE">
    </form>
    <section>
        <% for(let i=0; i<records.length; i++) {%>
            <div class='box'> 
                <div>
                    <%=records[i].date%>
                </div>
                <div>
                    total : <%=records[i].necessary + records[i].pleasure + records[i].shopping%> 
                </div>
                <form action='/box_update' method='post' class='formBox'>
                    <input type='hidden' name='date' value=<%=records[i].date%>>
                    <input type='number' placeholder='1000' name='consumption' autocomplete="off" style='width:100px;'>
                    <select name='attribute' style='width:100px;'>
                        <option value='necessary' selected>necessary</option>
                        <option value='pleasure'>pleasure</option>
                        <option value='shopping'>shopping</option>
                    </select>
                    <select name="account" style='width:100px;'>
                        <% for(let i=0; i<list.length; i++) { %>
                            <option value=<%=list[i].ACCOUNT%>><%=list[i].ACCOUNT%></option>
                        <%}%>
                    </select>
                    <input type='submit' value='전송' style='width:100px;'>
                </form>
            </div>
        <%}%>

    </section> 
</div> 
